@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    opacity: 0;
    height: 0;
    overflow: hidden;
    background-color: v.$indigo;
    transition-property: opacity;
    transition-duration: 500ms;
    
    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2 {
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }

        .cerrar-menu {
            display: flex;
            justify-content: center;
            height: 4rem;
            width: 4rem;

            img {
                &:hover {
                    cursor: pointer;
                }
            }

            @include m.tablet {
                display: none;
            }
        }
    }
    
    &.mostrar {
        opacity: 1;
        padding: 2rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / .90);

        @include m.tablet {
            display: none;
        }
    }

    &.ocultar {
        opacity: 0;
    }

    .sidebar-nav {
        margin-top: 5rem;

        a {
            color: v.$blanco;
            display: block;
            padding: .7rem;
            transition-property: background-color;
            transition-duration: 300ms;
            font-size: 2.4rem;
            margin-bottom: 2rem;
            text-align: center;

            &:hover,
            &.activo {
                background-color: darken($color: v.$indigo, $amount: 20%);
                border-radius: .5rem;
            }

            @include m.tablet {
                font-size: 2rem;
                margin-bottom: 1.5rem;
                text-align: left;
            }
        }
    }

    .cerrar-session-mobile {
        margin-top: 10rem;

        .cerrar-session {
            @include m.boton(v.$indigo, v.$blanco)
        }

        @include m.tablet {
            display: none;
        }
    }
}